/* Categories */
.categories {
    margin-top: 6rem;
}

.categories--section {
    margin: 2rem 0;
}

.categories--title {
    font-size: 2.5rem;
    margin: .5rem 0rem;
}

.addToListIcon {
    position: absolute;
    top: -0.3rem;
    right: 0.1rem;
    z-index: 15;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    transform: scale(1.1);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    filter: drop-shadow(-0.5px -0.5px 0 rgb(74, 74, 74)) 
    drop-shadow(0.5px -0.5px 0 rgb(74, 74, 74)) 
    drop-shadow(-0.5px 0.5px 0 rgb(74, 74, 74)) 
    drop-shadow(0.5px 0.5px 0 rgb(74, 74, 74));
    box-sizing: border-box;
    width: 1.6rem;
    height: 1.6rem;
    will-change: opacity;
    outline: 1px solid transparent;
}

.splide__slide:not(:hover) .addToListIcon {
    transition: none;
  }