.input-label {
    margin-right: 2rem;
}

.input-select,
.input-select option {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.input-select {
    margin-left: 0.5rem;
}

@media (min-width: 1024px) {
    .episode-select--container {
        margin-top: 2rem;
    }
}