
.episode-select--container {
    margin-top: 1rem;
}

.input-select,
.input-select option {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.input-select {
    margin-left: 0.5rem;
}

.margin-left {
    margin-left: 2rem;
}

@media (min-width: 1024px) {

    .input-label {
        margin-right: auto;
    }
    .episode-select--container {
        margin-top: 2rem;
    }
}