.container {
    width: calc(100vw - 2rem);
    margin: 7rem auto;
}

.categorySection {
    margin-bottom: 32px;
}

.title {
    height: 40px;
    width: 200px;
    background: linear-gradient(90deg, #2c2c2c 25%, #3a3a3a 50%, #2c2c2c 75%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite ease-in-out;
    border-radius: 5px;
    margin-bottom: 16px;
}

.splideContainer {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}

/* Hide horizontal scrollbar */
.splideContainer::-webkit-scrollbar {
    display: none;
}

.splideContainer {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.cardWrapper {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.cardImage {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    background-color: #e2e2e2;
}

.shimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #2c2c2c 25%, #3a3a3a 50%, #2c2c2c 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 5px;
    pointer-events: none;
    z-index: 12;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

/* Media Queries */
@media (min-width: 640px) {
    .container {
        width: calc(100vw - 4rem);
    }
}

@media (min-width: 1024px) {
    .container {
        width: calc(100vw - 8rem);
    }
}