.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 3.5rem;
    z-index: 2000;
    padding: 1rem 0rem;
    background: #111111e8 url('/images/asfalt-dark.png') repeat;
}

.header--mobile {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.header--mobile-inner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header--logo {
    max-width: 10rem;
    height: auto;
}

.header--login-btn {
    padding: 0.6em 1.2em;
    color: white;
    font-family: 'Bebas neue', sans-serif;
}

.header--logged-in {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header--user-profile {
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.header--search-btn {
    padding: 1rem;
}

.search-btn--close {
    font-size: 1.75rem;
    padding: 0rem 0.6rem;
}

.header--searchbar {
    padding: 0.3rem;
    border: none;
    font-size: 1rem;
    transition: opacity 0.3s ease, height 0.3s ease;
    height: 0;
    width: 100%;
    opacity: 0;
    pointer-events: auto;
    background-color: #30303a;
    color: white;
}

.header--mobile-hamburger {
    padding: 1rem;
    cursor: pointer;
}

.hamburger-nav {
    position: fixed;
    width: 0;
    background-color: #111;
    height: 95vh;
    z-index: 2000;
    transition: opacity 0.3s ease, width 0.3s ease;
    margin-top: 5rem;
    left: 0;
    opacity: 0;
}

.mobile--account-links-container {
    display: flex;
    flex-direction: column;
}

.mobile--sign-out-btn {
    margin-top: 1rem;
}

.mobile--sign-out-btn,
.desktop--sign-out-btn {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    background-color: #c6000a;
    width: fit-content;
    font-family: "Bebas neue", sans-serif;
}

.mobile-visible {
    width: 87vw;
    opacity: 1;
    padding: 1rem;
}

.searchbar-mobile {
    margin-top: 5rem;
    left: 0;
    position: fixed;
    z-index: 2000;
    padding: 1.5rem;
}

.header--desktop {
    display: none;
}

.header--search-results {
    border: 1px solid #30303a;
    position: fixed;
    z-index: 1000;
    top: 8rem;
    width: 92vw;
    background-color: #111;
    max-height: 65vh;
    overflow-y: scroll;
}

.search-results--container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #30303a;
    cursor: pointer;
}

.search-results--title {
    max-width: 17rem;
}

.search-results--no-results {
    padding-left: 1rem;
}

.search-results--img {
    width: 2rem;
    margin: 0.5rem 1rem;
}

.mediaType-icon {
    position: absolute;
    right: 1rem;
}

/* Media Queries */
@media (min-width: 640px) {
    .header--mobile {
        max-width: calc(100vw - 2rem);
    }

    .header--desktop {
        display: none;
    }

    .header--searchbar {
        left: 2rem;
        width: 87.5vw;
    }

    .header--search-results {
        width: 93vw;
    }

    .search-results--title {
        max-width: fit-content;
    }
}

@media (min-width: 768px) and (min-height: 600px) {
    .header--searchbar {
        left: 2rem;
        width: 86vw;
    }

    .header--search-results {
        left: 2rem;
        width: 91.7vw;
    }
}

@media (min-width: 1024px) {

    .header--desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: calc(100vw - 8rem);
        margin: 0 auto;
    }

    .header--flex-right-container {
        display: flex;
        align-items: center;
    }

    .header--search-btn {
        cursor: pointer;
    }
    
    .search-btn--close {
        padding: 0rem 0.75rem;
    }

    .header--searchbar {
        transition: opacity 0.3s ease, width 0.3s ease;
        width: 0;
        opacity: 0;
        border-radius: 4px;
    }

    .desktop-visible {
        height: 2rem;
        width: 30rem;
        opacity: 1;
    }

    .header--search-results {
        width: 30.9rem;
        top: 4.25rem;
        left: auto;
    }

    .search-results--title {
        max-width: 23rem;
    }

    .search-results--container:hover {
        background-color: #30303a;
    }

    .header--mobile,
    .searchbar-mobile,
    .results-mobile {
        display: none;
    }

    .header--profile-wrapper {
        position: relative;
    }

    .header--logged-in {
        position: relative;
    }

    .profile-dropdown {
        position: absolute;
        top: 155%;
        right: 0;
        background: rgba(17, 17, 17, 0.8);
        border: 1px solid #464646;
        border-radius: 5px;
        padding: 1rem 0.5rem;
        z-index: 99;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        min-width: 140px;
        display: flex;
        flex-direction: column;
    }

    .chevron-icon {
        transition: transform 0.3s ease;
    }

    .rotate {
        transform: rotate(-180deg);
    }
    
    .dropdown--account-container {
        display:flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .dropdown--account-icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

}