.footer {
    margin: 5rem auto 2rem auto;
    max-width: 1080px;
    font-size: 14px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridRow {
    display: grid;
    grid-template-columns: 30% 25% 45%;
    margin-bottom: 2rem;
}

.logo {
    width: 13rem;
    height: fit-content;

}

.disclaimer {
    margin-top: 0;
}

.copyright {
    font-size: 11px;
}