.container {
    place-self: baseline;
    margin-top: 5rem;
    margin: 5rem auto auto auto;
}

.title {
    text-align: center;
}

.flex {
    display: flex;
    align-items: baseline;
}

.marginR {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.vAlign {
    vertical-align: text-top;
    display: inline-flex;
    font-size: 1.1rem;
}

.verified {
    color: #048600;
}

.warning {
    color: #df9d00;
}

.input {
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 1rem;
}

.email,
.username {
    margin-bottom: 0.2rem;
}

.userInfo {
    margin-bottom: 0;
    margin-right: 0.3rem;
}

.changeBtn {
    all: unset;
    cursor: pointer;
    color: #c6000a;
}

.changeBtn:hover {
    text-decoration: underline;
    background-color: transparent;
}

.changeBtn:focus-visible {
    outline: 2px solid #c6000a;
    outline-offset: 2px;    
}

.changeCancelContainer {
    display: flex;
    text-align: center;
}

.confirmBtn {
    margin-right: 1rem;
}

.signOutBtn {
    margin-bottom: 1rem;
}

.deleteAccBtn {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    .detailContainer {
        display: flex;
        justify-content: space-between;
    }

    .email,
    .username {
        margin-bottom: 1rem;
    }

    .input {
        margin-bottom: 0.8rem;
    }
}

@media (min-width: 1024px) {
    .flex {
        align-items: center;
    }

    .userInfo {
        margin-bottom: revert;
    }
  }