#root {
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
}

/* Categories */
.categories--section{
  margin: 2rem 0;
}

.categories--title {
  font-size: 2.5rem;
  margin: .5rem 0rem;
}

/* Splide */
.splide__slide img {
  height: 100%;
}

.splide__pagination {
  bottom: -1.5em !important
}

/* Card */
.card--image {
  border-radius: 5px;
  max-width: 300px;
  cursor: pointer;
}

/* Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fade-in {
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInPopup 0.3s ease-out forwards;
}

@keyframes fadeInPopup {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-content {
  background: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  position: relative;
  background-size: "cover";
  background-position: "300px center";
  background-repeat: "no-repeat";
  color: "white";
  padding: "20px";
  border-radius: "8px";
  height: 100%;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: -15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup-content img {
  width: 100%;
  border-radius: 8px;
  margin-top: 2rem;
}

.popup-content--title {
  font-size: 2.5rem;
  margin-bottom: -1rem;
  line-height: 2.5rem;
}

.popup-content--original-title {
  margin: 0.5rem 0rem 0rem 0rem;
}

.popup-content--facts {
  margin: 0.5rem auto;
}

.popup-content--facts--release-date,
.popup-content--facts--genres {
  margin: 0;
}

.popup-content--tagline {
  font-style: italic;
}

.popup-content--ratings-container {
  display: flex;
  align-items: center;
}

.rating {
  margin-left: 0.25rem;
  font-weight: 600;
}

.rating.high {
  color: #00c800;
}
.rating.medium {
  color: #ffe300;
}
.rating.low {
  color: #d00;
}

/* EpisodeSelect */
.input-label {
  margin-right: 2rem;
}

.input-select,
.input-select option {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.input-select {
  margin-left: 0.5rem;
}

/* Embed Video Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #000;
  border-radius: 10px;
  max-width: 90%;
  max-height: 80%;
  position: relative;
  overflow: hidden;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}

.video-wrapper iframe {
  position: fixed;
  /* top: 0;
  left: 0; */
  top: 10vh;
  left: 10vw;
  max-width: 100%;
  max-height: 100%;
}

.open-video-btn {
  padding: 10px 16px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4),
              -6px -6px 12px rgba(255, 255, 255, 0.05);
  transition: all 0.15s ease-in-out;
}

.open-video-btn:active {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4),
              inset -4px -4px 8px rgba(255, 255, 255, 0.05);
  transform: scale(0.98);
}

.modal--close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Loading Spinner */
.loading-spinner-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #facc15;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media (min-width: 640px) {
  #root {
    max-width: calc(100vw - 4rem);
  }

  .splide__slide img {
    width: 25vw;
  }

  .popup-content--flex {
    display: grid;
    grid-template-columns: 400px auto;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .popup-content img {
    height: calc(100vh - 1rem);
    width: auto;
    margin: 2vh auto;
  }

  .close-btn {
    top: 10px;
    right: 15px;
  }
}

@media (min-width: 768px) and (min-height: 600px){
  .popup-content {
    height: auto;
  }
  .popup-content img {
    margin-top: 0rem;
    height: auto;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  #root {
    max-width: calc(100vw - 8rem);
  }
  
  .splide__slide,
  .splide__track,
  .splide__list {
    overflow: visible !important;
  }

  .splide__slide img {
    width: 15vw;
    overflow:hidden;
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
  }

  .splide__slide img:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  }
  
  .popup-content {
    height: auto;
  }
}